html, body {
    margin: 0;
    padding: 0;
    background: rgb(233, 233, 233);
}

header {
    position: fixed;
    top: 0;
    background: rgb(0, 0, 0);
    width: 100%;
    padding: 15px;
}

header img {
    width: 70px;
    border-radius: 50px;
}